---
layout: archive
author_profile: true
---
<main>
  <h1>OSS Blog</h1>
  <!--
  {% for post in site.blog %}
    {% include components/post-card.html
        title = post.title
        description = post.description
        url = post.url
      %}
  {% endfor %}
  {% include components/post-card.html
      title = "About Me"
      description = "Learn more about me!"
      url = "/about"
  %}
   -->
  {% include feature_row %}
  {% include feature_row id="intro" type="center" %}


  {% for post in site.blog %}
    {% include components/post-entry.html
        title = post.title
        description = post.description
        url = post.url
      %}
  {% endfor %}
  
</main>
